<header>

   <div id="main">
               <div id= "logo"><a href="/">
                 <img src="../static/files/icons/logo.svg"></a>
               </div>
               <div class = "logo remove-underline"><a href= "/">Blog</a></div>
               <div id="myTopnav" class="nav">
                <a class = "active remove-underline" href ="https://github.com/darkrenaissance/darkfi">Source code</a>
                <a class = "man remove-underline" href ="https://dark.fi/manifesto.html">Manifesto</a>
                <a class = "actives remove-underline" href = "https://element.dark.fi">Community</a>              
               </div>

       <div class="navbarb">
                                        <div class="navbar2">
                                                <div class="container2 nav-container2">
                                                                <input class="checkbox" type="checkbox" name="" id="" />
                                                                <div class="hamburger-lines">
                                                                        <span class="line line1"></span>
                                                                        <span class="line line2"></span>
                                                                        <span class="line line3"></span>
                                                                </div>
                                                        <div class="menu-items">
                                                                <li class="topnav"><a href="source.html">Source Code</a></li>
                                                                <li><a href="manifesto.html">Manifesto</a></li>
                                                                <li><a href="community.html">Community</a></li>
                                                        </div>
                                                </div>
                                        </div>
                </div>

</div>
</header>
